<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="jdbcUtils" class="ubb.tourism.data.access.utils.JdbcUtils">
        <constructor-arg>
            <bean class="java.util.Properties"/>
        </constructor-arg>
        <property name="propertiesFileName" value="config/mysql-config.properties"/>
    </bean>

    <bean id="userRepository" class="ubb.tourism.data.access.repository.impl.UserRepositoryImpl">
        <constructor-arg ref="jdbcUtils"/>
    </bean>

    <bean id="ticketRepository" class="ubb.tourism.data.access.repository.impl.TicketRepositoryImpl">
        <constructor-arg ref="jdbcUtils"/>
    </bean>

    <bean id="flightRepository" class="ubb.tourism.data.access.repository.impl.FlightRepositoryImpl">
        <constructor-arg ref="jdbcUtils"/>
    </bean>

    <bean id="userService" class="ubb.tourism.business.service.UserService">
        <constructor-arg ref="userRepository"/>
    </bean>

    <bean id="flightService" class="ubb.tourism.business.service.FlightService">
        <constructor-arg ref="flightRepository"/>
    </bean>

    <bean id="ticketService" class="ubb.tourism.business.service.TicketService">
        <constructor-arg ref="ticketRepository"/>
    </bean>

    <bean id="loginController" class="ubb.tourism.controller.LoginController">
        <constructor-arg ref="flightService"/>
        <constructor-arg ref="ticketService"/>
        <constructor-arg ref="userService"/>
    </bean>

</beans>